//- title: Журнал
extends _root_/layout

block content
    - var i = 1;
    - var c = "Name,L1,D1,L2,D2,L3,D3,L4,D4,L5,D5,L6,L7,L8,L9,L10".split(',');
    - var d = [],a = function(c){d.push(c)};
    - a('Борзунов Андрей Анатольевич КСС-311,       L2,D2,  ,  ,  ,D3,L4,D4,L5');
    - a('Виноградов Борис КСС-311,                  L1,D1,L2,D2,L3,D3,L4,D4,L5');
    - a('Виноградова Татьяна КСС-312,               L1,D1,L2,D2,L3,D3,  ,D4,L5');
    - a('Вовк Олег КСС-311,                           ,  ,L2,D2,L3,D3,L4,D4');
    - a('Гельфанов Аллан КСС-311,                   L1,D1,L2,D2,L3,D3,L4,D4,L5');
    - a('Дергачев Александр КСС-312,                L1,D1,L2,D2,L3,D3,L4,D4,L5');
    - a('Зинкина Ирина КСС-311,                     L1,D1,L2,D2,L3,D3,L4,D4,L5');
    - a('Ливанов Артём Дмитриевич КСС-312,          L1,D1,L2,D2,L3,D3,L4,D4,L5');
    - a('Лойко Анастасия КСС-311,                   L1,D1,L2,D2,L3,D3,L4,D4');
    - a('Маханькова Татьяна Вячеславовна КСС-311,   L1,D1,L2,D2,L3,D3,L4,D4,L5');
    - a('Мищенко Евгений КСС-312,                   L1,D1,L2,  ,  ,  ,  ');
    - a('Николаев Руслан Андреевич КСС-312,         L1,D1,L2,D2,L3,D3,L4,D4,L5');
    - a('Понамаренко Светлана Андреевна КСС-311,    L1,D1,L2,D2,L3,D3,L4,D4,L5');
    - a('Синицын Дмитрий КСС-311,                   L1,D1,L2,D2,L3,D3,L4,D4,L5');
    - a('Тютюнник Анна КСС-312,                     L1,D1,L2,D2,L3,D3,L4,D4,L5');
    - a('Шихбадинов Эльдар КСС-312,                 L1,D1,L2,D2,L3,D3,L4,D4,L5');
    table.table.table-striped
        thead
            tr
                th #
                each h in c
                    th= h
        tbody
            each p in d
                tr
                    td #{i++}
                    each h in c
                        td
                            if 'Name' === h
                                =p.split(',')[0]
                            else
                                if p.indexOf(h) === -1
                                    i.icon-minus
                                else
                                    i.icon-ok

    h4 Статус по индивидуальным заданиям
    - var i = 1;
    - var c = "Name,Task1,Task2,Task3".split(',');
    - var d = [],a = function(c){d.push(c)};
    - a('Вовк Олег,                                 T1.1,T2,T3.5');
    - a('Дергачев Александр КСС-312,                T1+,T2,T3.3');
    - a('Ливанов Артём Дмитриевич КСС-312,          T1,T2,T3.2');
    - a('Лойко Анастасия КСС-311,                   T1,T2,T3.1');
    - a('Мищенко Евгений КСС-312,                   T1,T2,T3');
    - a('Николаев Руслан Андреевич КСС-312,         T1,T2,T3.6');
    - a('Понамаренко Светлана Андреевна КСС-311,    T1,T2,T3.4');
    table.table.table-striped
        thead
            tr
                th #
                each h in c
                    th=h
                        if h.indexOf('Task') !== -1
                            |
                            i.icon-check
        tbody
            each p in d
                tr
                    td #{i++}
                    -var s = p.split(',');
                    each val, key in c
                        td
                            if 0 === key
                                =s[0]
                            else
                                if s.length <= key
                                    i.icon-minus
                                else
                                    - var t = '' + s[key];
                                    - var ok = (t.indexOf('+') !== -1);
                                    - t = t.replace(/\+/g,'');
                                    | #{t}
                                    if ok
                                        i.icon-ok
                                    else
                                        i.icon-minus
    p Студенты, работающие по индивидуальным заданиям, могут посещать пары в свободном режиме и не выполнять общие лабораторные работы.
    p Вместо этого они выполняют три задачи, выданные им, и по результатам этих задач получают зачет