//- title: Журнал
//- date: 26.10.2012
extends _root_/layout

block content
    h4 Студенты
    - var i = 1
    table.table.table-striped
        thead
            tr
                th #
                th Name
                th L1
                th D1
                th L2
                th D2
                th L3
                th D3
                th L4
                th D4
                th L5
                th D5
                th L6
                th L7
                th L8
                th L9
                th L10
        tbody
            tr
                td #{i++}
                td Лойко Анастасия КСС-311
                td: i.icon-ok
                td: i.icon-ok
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
            tr
                td #{i++}
                td Зинкина Ирина КСС-311
                td: i.icon-ok
                td: i.icon-ok
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
            tr
                td #{i++}
                td Олег Вовк
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
            tr
                td #{i++}
                td Дергачев Александр
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
            tr
                td #{i++}
                td Николаев Руслан Андреевич КСС-312
                td: i.icon-ok
                td: i.icon-ok
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
            tr
                td #{i++}
                td Дмитрий Синицын
                td: i.icon-ok
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
            tr
                td #{i++}
                td Маханькова Татьяна Вячеславовна
                td: i.icon-ok
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
            tr
                td #{i++}
                td Шихбадинов Эльдар КСС-312
                td: i.icon-ok
                td: i.icon-ok
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
            tr
                td #{i++}
                td Виноградова Татьяна КСС-312
                td: i.icon-ok
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
            tr
                td #{i++}
                td Борис Виноградов
                td: i.icon-ok
                td: i.icon-ok
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
            tr
                td #{i++}
                td Тютюнник Анна КСС-312
                td: i.icon-ok
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
            tr
                td #{i++}
                td Аллан Гельфанов
                td: i.icon-ok
                td: i.icon-ok
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
            tr
                td #{i++}
                td Евгений Мищенко
                td: i.icon-ok
                td: i.icon-ok
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
            tr
                td #{i++}
                td Ливанов Артём Дмитриевич КСС-312
                td: i.icon-ok
                td: i.icon-ok
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
            tr
                td #{i++}
                td Понамаренко Светлана Андреевна КСС-311
                td: i.icon-ok
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
                td: i.icon-minus
    h4 Занятия
    - var i = 1
    table.table.table-striped
        thead
            tr
                th #
                th Date
                th Type
                th Description
                th Status
        tbody
            tr
                td L#{i++}
                td 22.10.2012
                td Frontend
                td box-model, position, overlapping
                td: i.icon-ok
            tr
                td L#{i++}
                td 29.10.2012
                td Frontend
                td display, layout, aligment
                td: i.icon-minus
            tr
                td L#{i++}
                td 05.11.2012
                td Frontend
                td cross browsers compatibility, graceful degradation, jquery, css tips and trics
                td: i.icon-minus
            tr
                td L#{i++}
                td 12.11.2012
                td Backend
                td Introduction to Node.js, simple web server
                td: i.icon-minus
            tr
                td L#{i++}
                td 19.11.2012
                td Backend
                td Simple app (nodejs & sqllite)
                td: i.icon-minus
            tr
                td L#{i++}
                td 26.11.2012
                td Семинар
                td Depoiment cms intro (wp as sample) + assign individual tasks
                td: i.icon-minus
            tr
                td L#{i++}
                td 03.12.2012
                td Консультация
                td Individual work
                td: i.icon-minus
            tr
                td L#{i++}
                td 10.12.2012
                td Консультация
                td Individual work
                td: i.icon-minus
            tr
                td L#{i++}
                td 17.12.2012
                td Консультация
                td Individual work
                td: i.icon-minus
            tr
                td L#{i++}
                td 17.12.2012
                td Зачет
                td Individual task presentation
                td: i.icon-minus
    h4 Домашние задания
    - var i = 1
    table.table.table-striped
        thead
            tr
                th #
                th Description
                th Etalon
                th Status
        tbody
            tr
                td D#{i++}
                td Сделать 2 дива, с заливкой разных цветов, которые бы заниамли все доступное место на странице, деля ее на 2 вертикальные колонки.
                td: a(href="http://jsfiddle.net/a3j99/1/") http://jsfiddle.net/a3j99/1/
                td: i.icon-ok
            tr
                td D#{i++}
                td
                td
                td: i.icon-minus
            tr
                td D#{i++}
                td
                td
                td: i.icon-minus
            tr
                td D#{i++}
                td
                td
                td: i.icon-minus
            tr
                td D#{i++}
                td
                td
                td: i.icon-minus
